<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://127.0.0.1:5000/static/css/base.css">
    <title>Tortitas as a Service</title>
</head>
<body>
    <header>
        <div class="logo">TAAS</div>
        <div class="motto">Tortitas as a Service</div>
        <menu>
            <span class="item"><a href="/">Home</a></span>
            <span class="item"><a href="about.html">About</a></span>
        </menu>
    </header>
    <main>
        <h2>YC W21</h2>
        <h2>prices</h2>
        <p><strong>{{price_per_tortita}} Euros</strong> per Tortita</p>
    </main>
    <footer>
        <div class="copyright">
            © TAAS Inc. 2002
        </div>
    </footer>
</body>
</html>